/* Small screens */

/* General rules */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 95%;
    font-size: 1.2em;
    margin: 10px auto;
}
h1, h2, h3 {
    margin: 0;
    text-align: center;
}
a:any-link {
    color: indigo;
    text-decoration: none;Savin
}
a:hover {
    text-shadow: 0 0 12px grey;
}

/* Main */

.container {
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    background-color: #708090;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    gap: 10px;
}
.container h1 {
    margin: 0;
    text-align: center;
    flex-basis: 100%;
}
.sidebar {
    background-color: #8fbc8f5f;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 14rem;
}
@media screen and (max-width: 320px) {
    .sidebar {
        flex-basis: 100%;
    }
}
.sidebar h2 {
    text-transform: uppercase;
    margin: 2px auto;
    flex-basis: 2%;
}
.side-box {
    flex: 0 1 auto;
}

.arty {
    background-color: #cde9cdab;
    border-radius: 10px;
    padding: 10px;
    width: 55rem;
}

/* Footer */
footer {
    padding: 40px;
    text-align: right;
    font-size: .7em;
    font-style: oblique;
}