.container {
    margin: 10% auto;
    padding: 10px;
    background-image: url("https://cloud.fyrfli.me/s/wicTDPqP63y6ZWK/preview"), 
                        url("https://cloud.fyrfli.me/s/piBx3X7KG8RGAsi/preview"),
                        url("https://cloud.fyrfli.me/s/8asRo4aWpyATY6W/preview"),
                        url("https://cloud.fyrfli.me/s/HJztx2d8WACBQjW/preview");
    width: 800px;
    height: auto;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: 10% 2%, 65% 35%, 30% 105%, 70% 135%;
/* 				background-size: 20%, 20%, 20%, 20%; */
    background-size: 30%, 30%, 30%, 40%;
    background-attachment: fixed, fixed, fixed, fixed;
}
.text {
    color: grey;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    background-color: whitesmoke;
    align-items: center;
    border: 10px double green;
    width: 800px;
    margin: 20% auto;
}
