html {
    font-family: "Bitter", serif;
	font-size: 16px;
    line-height: 1.6em;
}

hr {
    border: none;
    border-top: 1px dotted darkblue;
    width: 45%;
}
p {
    width: 70%;
    padding: 10px;
    border-radius: 4px;
    margin: 8px auto;
    box-shadow: 0 1px 12px black;
}
a:any-link {
    text-decoration: none;
    color: blue;
}
a:hover{
    text-shadow: 0 2px 18px black;
}
h2 {
    padding: 12px 0;
}

/* Header */
header {
    display: block;
    margin: 10px auto;
    padding: 8px 0;
    text-align: center;
    background-color: #6a5acdaa;
    border-radius: 6px;
    width: 85%;
    box-shadow: 0 2px 20px grey;
}
header a:any-link {
    color: whitesmoke;
}

header hr {
    border-color: whitesmoke;
}

.contact {
    width: 85%;
    margin: 5px auto;
    /* background-color: wheat; */
    padding: 2px 0;
    border-radius: 8px;
    text-align: center;
    color: whitesmoke;
    /* box-shadow: 0 2px 18px grey; */
}
.fas, .far, .fab {
    color: black;
}

/* Body */
.intro {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    gap: 80px;
    flex-basis: auto;
    background-image: url("https://cloud.fyrfli.me/s/mqNNNSfZzwFGGac/preview");
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    background-attachment: fixed;
    background-position: center;
    background-clip: border-box;
    width: 85%;
}
.intro h2 {
    margin: auto;
    flex-direction: column;
    text-align: center;
    background-color: wheat;
    width: 85%;
    box-shadow: 0px 2px 12px black;
}
.intro h3 {
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    background-color: wheat;
    width: 85%;
    margin: 8x auto;
    box-shadow: 0px 2px 12px black;
}
.intro img {
    display: flex;
    flex-grow: 4;
}
.intro p {
    flex-direction: column;
    background-color: wheat;
}
.two {
    margin: 8px auto;
    display: flex;
    flex-flow: row wrap;
    gap: 80px;
    flex-basis: auto;
    background-image: url("../images/Sudoku-1200x700.png");
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    background-attachment: fixed;
    background-position: center;
    background-clip: border-box;
    width: 85%;
}
.two h2 {
    flex-direction: column;
    text-align: center;
    width: 85%;
    background-color: khaki;
    margin: 8px auto;
    box-shadow: 0px 2px 12px black;
}
.two p {
    flex-direction: column;
    background-color: khaki;
}
.three {
    margin: 8px auto;
    display: flex;
    flex-flow: row wrap;
    gap: 80px;
    flex-basis: auto;
    background-image: url("../images/Writing-1200x800.png");
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    background-attachment: fixed;
    background-position: center;
    background-clip: border-box;
    width: 85%;
}
.three h2 {
    flex-direction: column;
    text-align: center;
    width: 85%;
    background-color: blanchedalmond;
    margin: 8px auto;
    /* padding: 12px; */
    box-shadow: 0px 2px 12px black;
}
.three p {
    flex-direction: column;
    background-color: blanchedalmond;
}
.four {
    margin: 8px auto;
    display: flex;
    flex-flow: row wrap;
    gap: 80px;
    flex-basis: auto;
    background-image: url("../images/Snow-1200x800.png");
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    background-attachment: fixed;
    background-position: center;
    background-clip: border-box;
    width: 85%;
}
.four h2 {
    flex-direction: column;
    text-align: center;
    width: 85%;
    background-color: lightgoldenrodyellow;
    margin: 8px auto;
    /* padding: 12px; */
    box-shadow: 0px 2px 12px black;
}
.four p {
    flex-direction: column;
    background-color: lightgoldenrodyellow;
    padding: 10px;
    border-radius: 4px;
    /* width: 60%; */
    margin: 8px auto;
}

/* Footer */
footer {
	clear: both;
	font-size: .7em;
	text-align: right;
	padding: 20px;
}