@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cardo&family=Crimson+Pro:wght@200&family=Libre+Baskerville&family=Lora&family=Playfair+Display&display=swap');
@media screen and (min-width: 375px) and (max-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
	body {
		max-width: 300px;
		font-size: 2em;
	}
}
body {
	margin: 5px auto;
	max-width: 1200px;
	padding: 25px;
	font-size: 1.2em;
	background-color: #87b3c3ff;
	font-family: "Bitter", serif;
} 

header {
	height: 9rem;
}

img {
	display: block;
	margin: 4px auto;
	text-align: center;
	width: 12rem;
	box-shadow: 4px 4px 12px slategrey;
	border-radius: 10px;
	border: 2px solid slategrey;
}

h1 {
	background-image: url("../img/yarrow-stalks-for-the-i-ching.jpg");
	border: 12px double green;
	border-radius: 14px;
	box-shadow: 4px 8px 12px slategrey;
	background-clip: border-box;
	background-origin: border-box;
	height: 200px;
	width: 280px;
	background-position: center;
	background-size: 100%;
	margin: 0 auto;
}

h2 {
	padding: 10px;
	text-align: center;
	text-shadow: 0 0 16px black;
	font-weight: bold;
	display: block;
	color: #3a2c14;
	margin-top: -40px;
	margin-bottom: 100px;
	background-color: #f8f1d3dd;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
}

section h3 {
	text-shadow: 0 2px 12px slategrey;
	text-align: center;
}

/* New styles */
section {
	display: flex;
	margin: 10px auto;
	padding: 40px 30px;
	flex-flow: row wrap;
	gap: 20px;
	justify-content: space-evenly;
	border-radius: 10px;
	box-shadow: 2px 2px 12px grey;
	background: #a6c5ebff;
} 
article {
	background-color: #8bc2c9;
	width: 320px;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid slategrey;
	box-shadow: 0 4px 10px grey;
	text-align: center;
}

.mini-footer {
	font-size: .8em;
	text-align: center;
	font-style: italic;
	padding: unset;
}

footer {
	padding: 40px;
	text-align: right;
	font-size: .7em;
	font-style: oblique;
}

a {
	text-decoration: none;
	color: darkred;
}
a:hover {
	cursor: pointer;
	color: goldenrod;
}